<!doctype html>
<html lang = "zh-CN">
<head>
    <meta charset="utf-8">
    <title>测试页面</title>
    <script src="scripts/my.js"></script>
</head>
<body style="background-color:#ffffffc5">
    <div>
        <p id="demoText" style="text-align: center">Hello, Tester!</p>
    </div>
    <div>
        <p id="testjs">xx</p>
    </div>
    <p>加载图片测试</p>
    <img src="imgs/poster.jpg"/>
    <p>加载gif</p>
    <img src="imgs/demo.gif"/>
    <p>加载mp4</p>
    <video width="600" height="480" controls="controls" autoplay="autoplay">
        <source src="v/test.mp4" type="video/mp4" />
    </video>
    <script>
        loaddemo();
    </script>
</body>
</html>
<!-- data-setup='{"techorder" : ["flash"] }' preload="auto" -->